python-dotenv
numpy==1.26.4
flask
requests
python-ldap
tabulate
openai==0.28
pycryptodome
mysql-connector
boto3
tiktoken
pymilvus
pymilvus[model]
google-generativeai
awscli
#langchain
#langchain-community
#faiss-cpu

